{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetterDays</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>

</head>

<body>
    <header>
        <div class="logo">
            <h4>BetterDays</h4>
        </div>
        <div class="nav-links">
            <ul>
                <li><a href="templates/index.html">Home</a></li>
                <li><a href="#questions">Services</a></li>
                <li><a href="#resources">Resources</a></li>
                <li><a href="#contact">Student Forum</a></li>
            </ul>
        </div>
        <!-- Mobile menu icon -->
        <div class="menu-icon" onclick="toggleMenu()">
            <span>&#9776;</span>
        </div>
    </header>

    <aside id="mobile-sidebar">
        <button class="close-btn" onclick="closeMenu()">×</button>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="#questions">Services</a></li>
            <li><a href="#resources">Resources</a></li>
            <li><a href="#contact">Student Forum</a></li>
        </ul>
    </aside>
    <div  class="student-title">
        <h2>Student Experiences</h2>
        <button>Share your Experience</button>
    </div>
    <section class="student-experience">

        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iusto quidem vero est voluptatibus culpa
            voluptates? Natus eum saepe culpa optio blanditiis ipsum rerum vel quae odit, officia omnis corporis!
            Sapiente, praesentium! Nesciunt non consequuntur laudantium, nam consequatur quas saepe? Doloribus nemo
            lestias quos a velit doloremque possimus aperiam earum illum delectus.
            <div class="user-details">
                <p id="username">Bichitra</p>
                <p id="datesubmitted">22/2/2025</p>
            </div>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iusto quidem vero est voluptatibus culpa
            voluptates? Natus eum saepe culpa optio blanditiis ipsum rerum vel quae odit, officia omnis corporis!
            Sapiente, praesentium! Nesciunt non consequuntur laudantium, nam consequatur quas saepe? Doloribus nemo
            lestias quos a velit doloremque possimus aperiam earum illum delectus.
            <div class="user-details">
                <p>Bichitra</p>
                <p>22/2/2025</p>
            </div>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iusto quidem vero est voluptatibus culpa
            voluptates? Natus eum saepe culpa optio blanditiis ipsum rerum vel quae odit, officia omnis corporis!
            Sapiente, praesentium! Nesciunt non consequuntur laudantium, nam consequatur quas saepe? Doloribus nemo
            lestias quos a velit doloremque possimus aperiam earum illum delectus.
            <div class="user-details">
                <p>Bichitra</p>
                <p>22/2/2025</p>
            </div>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iusto quidem vero est voluptatibus culpa
            voluptates? Natus eum saepe culpa optio blanditiis ipsum rerum vel quae odit, officia omnis corporis!
            Sapiente, praesentium! Nesciunt non consequuntur laudantium, nam consequatur quas saepe? Doloribus nemo
            lestias quos a velit doloremque possimus aperiam earum illum delectus.
            <div class="user-details">
                <p>Bichitra</p>
                <p>22/2/2025</p>
            </div>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iusto quidem vero est voluptatibus culpa
            voluptates? Natus eum saepe culpa optio blanditiis ipsum rerum vel quae odit, officia omnis corporis!
            Sapiente, praesentium! Nesciunt non consequuntur laudantium, nam consequatur quas saepe? Doloribus nemo
            lestias quos a velit doloremque possimus aperiam earum illum delectus.
            <div class="user-details">
                <p>Bichitra</p>
                <p>22/2/2025</p>
            </div>
        </div>
    </section>

    <!-- <footer>
        <p class="desc-phone">BetterDays is committed to supporting mental health through accessible tools and
            resources. We provide
            self-assessments, valuable resources, and guidance to help you take charge of your mental well-being.</p>
        <p class="desc-web">BetterDays is committed to supporting mental health through accessible tools and resources.
            <br> We provide
            self-assessments, valuable resources, and guidance to help you take charge of your mental well-being.
        </p>
        <div class="line"></div>
        <p><a href="documents/Privacy Policy.pdf">Privacy Policy | </a> <a
                href="documents/Disclaimer.pdf">Disclaimer</a></p>
        <div class="line"></div>
        <p>&copy 2025 BetterDays . Made by <a href="https://bichitrabehera.vercel.app/" target="_blank">Bichitra
                Behera</a></p>
    </footer> -->


    <script src="../js/script.js"></script>
</body>

</html>